.container {
    border: 1.5px solid;
    border-top: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 50%;
    border-color: rgba(83, 82, 82, 0.5);
}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab {
    border-bottom: 1px solid;
    border-color: rgba(83, 82, 82, 0.5);
    padding: 10px;
    text-align: center;
    width: 52%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.active-tab {
    background: white;
    border-top: 1.5px solid;
    border-bottom: 1px solid transparent;
    cursor: auto;
    border-radius: 10px;
    transform: translateY(-10px);
    border-top-color: black;
}

.active-content-tab {
    display: inline
}

.dormant-content-tab {
    display: none
}